html {
  background-color: whitesmoke;
  height: 100%;
}

body,
section,
div {
  height: 100%;
}

/* body { 
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
} */

/* Pattern styles */
.left-half {
  background-color: whitesmoke;
  float: left;
  width: 30%;
}
.right-half {
  background-color: whitesmoke;
  float: left;
  width: 70%;
}

.sidebar-subitem-text {
  font-size: 0.8rem;
}

.sidebar {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}